# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/

# MacOS
.DS_Store
*.swp

# IDEs
.idea/
.vscode/
*.iml

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Firebase
firebase-debug.log